* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

html {
    font-family: sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 1.4rem;
    line-height: 1.4;
}

/* header tags */
nav {
    background-color: #1DAFEC;
}

#grid-unordered-list {
    display: grid;
    grid-template-columns: 72px 1fr 85px;
    list-style-type: none;
}

#map-image {
    padding: 1rem;
    margin: auto 0;
}

#logo-word-list-item{
    grid-column: 2 / 3;
    margin: auto 0;
}

logo-word-anchor {
    display: block;
}

#sign-in-list-item, #profile-list-item {
    grid-column: 3 / 4;
    margin: auto;    
}

#sign-in-list-item {
    background-color: #f1e607;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
}

#profile-list-item {
    display: none;
}

#menu {
    height: 100%;
}

#sign-up {
    grid-column: 2 / 3;
    margin: 4px auto;
    padding: 4px;
}

#profile img {
    width: 2rem;
}

a#profile:hover,
a#profile:focus {
    color: #666666;
}
a#profile:active {
    background-color: #cccccc;
}

/* silding box */
#mainNav {
    /* menu as a whole */
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    background-color: #f1e607;
    transition: right 2s;
    z-index: 1;
    width: 25vw;
    min-width: 10rem;
}

a#closeBtn:link,
#closeBtn:visited {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
    color: #000000;
}

a#closeBtn:hover,
a#closeBtn:focus {
    color: #ffffff;
    font-size: 1.2rem;
}

a#closeBtn:active {
    color: red;
    border: 1px solid #ffffff;
}

#mainNav ul {
    list-style-type: none;
    margin-top: 2.5rem;
}

#mainNav ul a:link,
#mainNav ul a:visited {
    text-decoration: none;
    display: block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: #000000;
}

#mainNav ul a:hover,
#mainNav ul a:focus {
    background-color: #ffffff;
    color: #000000;
}

/* main tags */
.tagline-section {
    text-align: center;
    margin: 2rem;
}

.tagline-section h1 {
    margin: 0.5rem;
}

#search-bar {
    margin: 0.5rem 0;
    height: 2.5rem;
}

.search-section {
    text-align: center;
    margin: 2rem auto 2rem auto;
}

.search-box {
    display: inline-block;
}
#keyword-lawyer, #keyword-carpenter, #keyword-baker, #logo-word-anchor, #sign-in-anchor {
    text-decoration: none; 
}

input {
    font-size: 1rem;
    -webkit-appearance: none;
    width: 60vw;
    height: 30px;
}

#popular-searches {
    list-style-type: none;
    text-align: left;
}
ul#popular-searches li {
    display: inline;
}

.dragontown-map {
    background-image: url('images/terrain.jpg');
    width: 80vw;
    margin: 0 auto 1rem auto;
    padding: 0.5rem;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0.5rem;
    
    /*background-position: center top; */
    background-size: 80vw; 
}

.square {
    /*border: 1px solid black;*/
    /*height: 15vw;*/
    height: 6.2vw;
}
#square-0-1:hover, #square-2-1:hover, #square-2-4:hover, #square-2-5:hover, #square-2-6:hover, #square-3-5:hover, #square-3-6:hover, #square-5-3:hover, #square-5-4:hover, #square-5-6:hover, #square-5-7:hover, #square-5-8:hover {
    /*box-shadow: 0 8px 6px -6px black;*/
    box-shadow: inset 0 0 10px #000000;
    /*background: grey;*/
    cursor: pointer;
}

img {
    height: 100%;  
    width: 100%;
}
/*
.mobile-square-0-0 { grid-column: 1 / 2; grid-row: 1 / 2; }
.mobile-square-0-1 { grid-column: 2 / 3; grid-row: 1 / 2; }
.mobile-square-0-2 { grid-column: 3 / 4; grid-row: 1 / 2; }
.mobile-square-0-3 { grid-column: 4 / 5; grid-row: 1 / 2; }

.mobile-square-1-0 { grid-column: 1 / 2; grid-row: 2 / 3; }
.mobile-square-1-1 { grid-column: 2 / 3; grid-row: 2 / 3; }
.mobile-square-1-2 { grid-column: 3 / 4; grid-row: 2 / 3; }
.mobile-square-1-3 { grid-column: 4 / 5; grid-row: 2 / 3; }

.mobile-square-2-0 { grid-column: 1 / 2; grid-row: 3 / 4; }
.mobile-square-2-1 { grid-column: 2 / 3; grid-row: 3 / 4; }
.mobile-square-2-2 { grid-column: 3 / 4; grid-row: 3 / 4; }
.mobile-square-2-3 { grid-column: 4 / 5; grid-row: 3 / 4; }
*/
@media screen and (min-width: 768px) {
    
    h1 {
        font-size: 1.6rem;
    }
    
    input {
        height: 40px;
    }
    
    #logo-word-list-item{
        margin: auto;
        font-size: 1.6rem;
    }
    
    /* main tags */
    .dragontown-map {
        width: 80vw;
        background-size: 80vw; 
        grid-template-columns: repeat(10, 1fr);
    }
    
    .square {
        height: 6.2vw;
    }
    
    #square-0-0 { grid-column: 1 / 2; grid-row: 1 / 2; }
    #square-0-1 { grid-column: 2 / 3; grid-row: 1 / 2; }
    #square-0-2 { grid-column: 3 / 4; grid-row: 1 / 2; }
    #square-0-3 { grid-column: 4 / 5; grid-row: 1 / 2; }
    #square-0-4 { grid-column: 5 / 6; grid-row: 1 / 2; }
    #square-0-5 { grid-column: 6 / 7; grid-row: 1 / 2; }
    #square-0-6 { grid-column: 7 / 8; grid-row: 1 / 2; }
    #square-0-7 { grid-column: 8 / 9; grid-row: 1 / 2; }
    #square-0-8 { grid-column: 9 / 10; grid-row: 1 / 2; }
    #square-0-9 { grid-column: 10 / 11; grid-row: 1 / 2; }
    
    #square-1-0 { grid-column: 1 / 2; grid-row: 2 / 3; }
    #square-1-1 { grid-column: 2 / 3; grid-row: 2 / 3; }
    #square-1-2 { grid-column: 3 / 4; grid-row: 2 / 3; }
    #square-1-3 { grid-column: 4 / 5; grid-row: 2 / 3; }
    #square-1-4 { grid-column: 5 / 6; grid-row: 2 / 3; }
    #square-1-5 { grid-column: 6 / 7; grid-row: 2 / 3; }
    #square-1-6 { grid-column: 7 / 8; grid-row: 2 / 3; }
    #square-1-7 { grid-column: 8 / 9; grid-row: 2 / 3; }
    #square-1-8 { grid-column: 9 / 10; grid-row: 2 / 3; }
    #square-1-9 { grid-column: 10 / 11; grid-row: 2 / 3; }
    
    #square-2-0 { grid-column: 1 / 2; grid-row: 3 / 4; }
    #square-2-1 { grid-column: 2 / 3; grid-row: 3 / 4; }
    #square-2-2 { grid-column: 3 / 4; grid-row: 3 / 4; }
    #square-2-3 { grid-column: 4 / 5; grid-row: 3 / 4; }
    #square-2-4 { grid-column: 5 / 6; grid-row: 3 / 4; }
    #square-2-5 { grid-column: 6 / 7; grid-row: 3 / 4; }
    #square-2-6 { grid-column: 7 / 8; grid-row: 3 / 4; }
    #square-2-7 { grid-column: 8 / 9; grid-row: 3 / 4; }
    #square-2-8 { grid-column: 9 / 10; grid-row: 3 / 4; }
    #square-2-9 { grid-column: 10 / 11; grid-row: 3 / 4; }
    
    #square-3-0 { grid-column: 1 / 2; grid-row: 4 / 5; }
    #square-3-1 { grid-column: 2 / 3; grid-row: 4 / 5; }
    #square-3-2 { grid-column: 3 / 4; grid-row: 4 / 5; }
    #square-3-3 { grid-column: 4 / 5; grid-row: 4 / 5; }
    #square-3-4 { grid-column: 5 / 6; grid-row: 4 / 5; }
    #square-3-5 { grid-column: 6 / 7; grid-row: 4 / 5; }
    #square-3-6 { grid-column: 7 / 8; grid-row: 4 / 5; }
    #square-3-7 { grid-column: 8 / 9; grid-row: 4 / 5; }
    #square-3-8 { grid-column: 9 / 10; grid-row: 4 / 5; }
    #square-3-9 { grid-column: 10 / 11; grid-row: 4 / 5; }
    
    #square-4-0 { grid-column: 1 / 2; grid-row: 5 / 6; }
    #square-4-1 { grid-column: 2 / 3; grid-row: 5 / 6; }
    #square-4-2 { grid-column: 3 / 4; grid-row: 5 / 6; }
    #square-4-3 { grid-column: 4 / 5; grid-row: 5 / 6; }
    #square-4-4 { grid-column: 5 / 6; grid-row: 5 / 6; }
    #square-4-5 { grid-column: 6 / 7; grid-row: 5 / 6; }
    #square-4-6 { grid-column: 7 / 8; grid-row: 5 / 6; }
    #square-4-7 { grid-column: 8 / 9; grid-row: 5 / 6; }
    #square-4-8 { grid-column: 9 / 10; grid-row: 5 / 6; }
    #square-4-9 { grid-column: 10 / 11; grid-row: 5 / 6; }
    
    #square-5-0 { grid-column: 1 / 2; grid-row: 6 / 7; }
    #square-5-1 { grid-column: 2 / 3; grid-row: 6 / 7; }
    #square-5-2 { grid-column: 3 / 4; grid-row: 6 / 7; }
    #square-5-3 { grid-column: 4 / 5; grid-row: 6 / 7; }
    #square-5-4 { grid-column: 5 / 6; grid-row: 6 / 7; }
    #square-5-5 { grid-column: 6 / 7; grid-row: 6 / 7; }
    #square-5-6 { grid-column: 7 / 8; grid-row: 6 / 7; }
    #square-5-7 { grid-column: 8 / 9; grid-row: 6 / 7; }
    #square-5-8 { grid-column: 9 / 10; grid-row: 6 / 7; }
    #square-5-9 { grid-column: 10 / 11; grid-row: 6 / 7; }
}

footer {
    padding: 1em; 
    height: 5; 
    background-color: darkgrey;
    color: white;
}
.About us {
    text-align: center;    
}
img#apple {
    width: 3.5%;
}

img#android {
    width: 3.5%;
}

img#apple:hover, img#apple:focus {
    border: 1px solid #ffffff;
    background-color: red;        
}

img#android:hover, img#android:focus {
    border: 1px solid #ffffff;
    background-color: limegreen;
}

#submit {
    margin: 0 auto;
    padding: 1rem;
    font-size: 3rem;
}